###############################################################################
#
# Under uv:
#     rm -r .venv/ pyproject.toml .python-version uv.lock
#     uv init
#     uv add -r requirements.txt
#
# On RPI, also need:
#     uv pip install -r requirements.txt
#
# Also need the "libs" and "data" directories which are available in this
# repository.
# Set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs
#
###############################################################################

#pyqt6
PySide6
matplotlib
cartopy
pyserial
numpy
pyhamtools
scipy

pypredict
pyephem

psutil
pytz





